<% var data = { title: "Заголовок | Проект" }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<section class="engine-repair">
  <div class="top-image">
    <img src="./img/certificates_t.jpg" alt="certificates banner" />
  </div>
  <div class="container">
    <div class="row page-headline">
      <div class="col">
        <%= _.template(require('./../includes/bread-crumbs.html').default)() %>
        <h1 class="blue">Сертификаты</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="text-content mb45">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit tempus
            mauris diam fringilla. Dolor ac aliquam sed enim urna, imperdiet
            neque. Scelerisque et amet, nullam massa, risus dui gravida porta. Sem
            accumsan tellus pellentesque tellus sit at. Ac lectus proin dictum
            turpis blandit volutpat eu. Dictum at rhoncus sapien eget et nullam.
            Tincidunt mauris nunc orci, auctor nunc suspendisse pellentesque. Orci
            semper faucibus volutpat nec a. Ac ullamcorper potenti dignissim
            lorem. Ante in venenatis aliquet at. Bibendum tortor turpis porta vel,
            mauris. Pellentesque at nibh posuere consectetur ultrices viverra
            lacus elementum. Nibh consequat vestibulum semper nec, vestibulum
            tellus dapibus ut dui.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="certificates-item">
          <img src="http://www.plypan.com/netcat_files/406/339/h_e88a30084aea9b8895d66d7952cffbec" alt="certificat">
          <div class="signature">
            <span>Certificate LV.145.020 (rev 10) Acceptance</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="certificates-item">
          <img src="http://www.plypan.com/netcat_files/406/339/h_e88a30084aea9b8895d66d7952cffbec" alt="certificat">
          <div class="signature">
            <span>Certificate LV.145.020 (rev 10) Acceptance</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="certificates-item">
          <img src="http://www.plypan.com/netcat_files/406/339/h_e88a30084aea9b8895d66d7952cffbec" alt="certificat">
          <div class="signature">
            <span>Certificate LV.145.020 (rev 10) Acceptance</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="certificates-item">
          <img src="http://www.plypan.com/netcat_files/406/339/h_e88a30084aea9b8895d66d7952cffbec" alt="certificat">
          <div class="signature">
            <span>Certificate LV.145.020 (rev 10) Acceptance</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <div class="text-content mb45">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit tempus
            mauris diam fringilla. Dolor ac aliquam sed enim urna, imperdiet
            neque. Scelerisque et amet, nullam massa, risus dui gravida porta. Sem
            accumsan tellus pellentesque tellus sit at. Ac lectus proin dictum
            turpis blandit volutpat eu. Dictum at rhoncus sapien eget et nullam.
            Tincidunt mauris nunc orci, auctor nunc suspendisse pellentesque. Orci
            semper faucibus volutpat nec a. Ac ullamcorper potenti dignissim
            lorem. Ante in venenatis aliquet at. Bibendum tortor turpis porta vel,
            mauris. Pellentesque at nibh posuere consectetur ultrices viverra
            lacus elementum. Nibh consequat vestibulum semper nec, vestibulum
            tellus dapibus ut dui.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./../includes/footer.html').default)() %>
